doctype html
html

head
	//- Meta
	meta(charset="utf-8" content="html")
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	//- Page title
	title= "Demo"
	
	//- Links (CSS styles)
	link(rel='stylesheet', href='/Styles/bootstrap.min.css')
	link(rel='stylesheet', href='/Styles/editpasswordcss.css')

	//- Scripts
	script(type="text/javascript", src="/Scripts/jquery.min.js" )
	script(type="text/javascript", src="/Scripts/jquery-ui.js" )
	script(type="text/javascript", src="/Scripts/Test.js" )
	script(type="text/javascript", src="/Scripts/ConstsAndDefinitions.js" )
	script(type="text/javascript", src="/Scripts/Models.js" )
	script(type="text/javascript", src="/Scripts/ViewModels.js" )

body(class="container")
	block content
			div(class="row")
				//- Apply button
				button( value="Start logic" onclick='StartLogic()' style="color:white; background: blue; width: 100px; height: 100px;") Click me!
				//- Analyze results view
				div( id="AnalyzeResultsDiv"      style="background: #7FFFD4; width: 700px; height: 500px; margin: auto;")
					div( id="FinancialInsightsView" style="background: red; width: 90%; height: 40%; top:5px; position: relative; margin-left: auto; margin-right: auto;")				
					div( id="MortgageTamhilView"    style="background: yellow; width: 90%; height: 40%; top:5px; position: relative; margin-left: auto; margin-right: auto;")

