doctype html
html

head
	//- Meta
	meta(charset="utf-8" content="html")
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	//- Page title
	title= "Demo"
	
	//- Links (CSS styles)
	link(rel='stylesheet', href='/Styles/bootstrap.min.css')
	link(rel='stylesheet', href='/Styles/ViewModels.css')

	//- Scripts
	script(type="text/javascript", src="/Scripts/jquery/jquery.min.js" )
	script(type="text/javascript", src="/Scripts/jquery/jquery-ui.js" )
	script(type="text/javascript", src="/Scripts/Test.js" )
	script(type="text/javascript", src="/Scripts/Services/Extensions.js" )
	script(type="text/javascript", src="/Scripts/Services/ConstsAndDefinitions.js" )
	script(type="text/javascript", src="/Scripts/Services/MarketStateManager.js" )
	script(type="text/javascript", src="/Scripts/Models/Models.js" )
	script(type="text/javascript", src="/Scripts/ViewModels/MortgageTamhilVM.js" )

body(class="container")
	block content
			div(class="row")
				//- Apply button
				button( value="Start logic" onclick='StartLogic()' style="color:white; background: blue; width: 50px; height: 50px;") Click me!
				//- Analyze results view
				div( id="AnalyzeResultsDiv"         style="background: black;  width: 800px; height: 500px; margin: auto;"        dir="RTL")
					div( id="HeadLineView"          style="background: red;    width: 100%;  height: 10px; position: relative; ")				
					div( id="FinancialInsightsView" style="background: white;  width: 100%;  height: 10px; position: relative; ")				
					div( id="MortgageTamhilView"    style="background: yellow; width: 100%;  height: 10px; position: relative; ")
					div( id="DisclaimerView"        style="background: orange; width: 100%;  height: 10px; position: relative; ")
