/*
 * Financial Insights styles
 */

ul {
  list-style: none;
}

li.Positive {
   width:90%; 
   padding-left: 1em; 
   text-indent: -.7em;
}

li.Positive::before {
  content: "• ";
  color: green;
}

li.Negative {
  width:90%; 
  padding-left: 1em; 
  text-indent: -.7em;
}

li.Negative::before {
  content: "• ";
  color: red;
}

li.Attention {
  width:90%; 
  padding-left: 1em; 
  text-indent: -.7em;
}

li.Attention::before {
  content: "• ";
  color: yellow;
}